.scroll-top {
    background-color: transparent;
    bottom: 3em;
    cursor: pointer;
    position: fixed;
    right: 2em;
 }
  
  @media (max-width: 500px) {
    .scroll-top {
      background-color: transparent;
      bottom: 2em;
      font-size: 1.5em;
      position: fixed;
      right: 1em;
      z-index: 20;
    }
  }
