[data-fr-theme="light"] {
  --categories-color: var(--green-menthe-850);
  --documents-color: var(--green-archipel-main-557);
  --legal-categories-color: #FF0000;
  --official-texts-color: #855080; // purple-glycine-200
  --persons-color: var(--green-archipel-main-557);
  --prices-color: var(--blue-ecume-main-400);
  --projects-color: #FF0000;
  --structures-color : #869ECE; // blue-ecume-moon-675
  --terms-color: #FFBEB4; // warning-850
  --users-color: #FF0000;
}
[data-fr-theme="dark"] {
  --categories-color: var(--green-menthe-850);
  --documents-color: var(--green-archipel-main-557);
  --legal-categories-color: #FF0000;
  --official-texts-color: #855080; // purple-glycine-200
  --persons-color: var(--green-archipel-main-557);
  --prices-color: var(--blue-ecume-main-400);
  --projects-color: #FF0000;
  --structures-color : #869ECE; // blue-ecume-moon-675
  --terms-color: #FFBEB4; // warning-850
  --users-color: #FF0000;
}

:root {
  --facebook-icon-color: #3A5794;
  --instagram-icon-color: #F7017A;
  --linkedin-icon-color: #0584C3;
  --twitch-icon-color: #8C44F7;
  --twitter-icon-color: #1C9CEA;
  --youtube-icon-color: #FD0100;
}
