$categories-color: var(--green-bourgeon-main-640);
$categories-light-color: var(--green-bourgeon-main-640);

$structures-color: var(--yellow-tournesol-main-731);
$structures-light-color: var(--yellow-tournesol-main-731);

$persons-color: var(--pink-tuile-main-556);
$persons-light-color: var(--pink-tuile-main-556);

$terms-color: var(--pink-term-main-556);
$terms-light-color: var(--pink-term-main-556);

$prices-color: var(--pink-term-main-556);
$prices-light-color: var(--pink-term-main-556);