.flex {
  display: flex;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--col-reverse {
  flex-direction: column-reverse;
}

.flex--grow {
  flex-grow: 1;
}

.flex--space-around {
  justify-content: space-around;
}

.flex--baseline {
  align-items: baseline;
}

.flex--last-baseline {
  align-items: last baseline;
}

.flex--grow {
  flex-grow: 1;
}

.flex--wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex--nowrap {
  flex-wrap: nowrap;
}