// HTML {
//   @media only screen and (min-width: 992px) {
//     font-size: 90%;
//   }
// }
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

HR {
  margin: 24px 0 16px 0;
  padding-bottom: 8px;
}

.mx-1 {
  margin: 0 4px;
}

.mt-2 {
  margin-top: 8px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.italic {
  font-style: italic;
}

.structures-tile {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 0 -0.25rem 0 0 var(--structures-color) !important;
}

.bg-structures {
  background-color: var(--structures-color) !important;
}

.bg-persons {
  background-color: var(--persons-color) !important;
}

.bg-categories {
  background-color: var(--categories-color) !important;
}
.bg-categories-light {
  background-color: rgba(230,254,218, 0.7) !important;
}

.bg-prices {
  background-color: var(--prices-color) !important;
}

.bg-documents {
  background-color: var(--documents-color) !important;
}

.bg-terms {
  background-color: var(--terms-color) !important;
}

.bg-textes-officiels {
  background-color: var(--textes-officiels-color) !important;
}

.bullet {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 8px;
  border-radius: 8px;
}

.bt-delete {
  background-color: var(--error-main-525);
  &:hover {
    background-color: #ffa6a6;
  }
}

.fr-background-alt {
  background-color: var(--background-alt-grey);
}
.fr-password-info {
  color: var(--info-main-525);
  margin: 0;
}
.fr-password-success {
  color: var(--success-main-525);
  margin: 0;
}
.fr-password-error {
  color: var(--error-main-525);
  margin: 0;
}
.fr-btns--space-between {
  justify-content: space-between;
}

.fr-row--space-between {
  justify-content: space-between;
}
.fr-row--space-around {
  justify-content: space-around;
}
.fr-row--baseline {
  align-items: baseline;
}
.fr-row--last-baseline {
  align-items: last baseline;
}
.fr-col--grow {
  flex-grow: 1;
}
.fullwidth {
  width: 100%;
}

.sidemenu__item--active {
   A:before {
    --idle: transparent;
    --hover: var(--border-active-blue-france-hover);
    --active: var(--border-active-blue-france-active);
    background-color: var(--border-active-blue-france);
    bottom: .75rem;
    content: "";
    left: 0;
    position: absolute;
    top: .75rem;
    width: 2px;
  }
  .fr-text--md {color: var(--text-active-blue-france); }
}

.color-tester {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-bt-on-over:hover {
  .bt-visible-on-over {
    visibility: visible;
  }
}

.bt-visible-on-over {
  visibility: hidden;
}

.no-span {
  SPAN {
    display: none;
  }
}

.hidden {
  visibility: hidden;
}