.text-right {
  text-align: right;
}

HR {
  margin: 24px 0 16px 0;
  padding-bottom: 8px;
}

.mx-1 {
  margin: 0 4px;
}

.bg-structures {
  background-color: rgba(200,170,57, 0.2);
}

.bg-persons {
  background-color: rgba(206,97,74, 0.2);
}

.bg-categories {
  background-color: rgba(104,165,50, 0.2);
}

.bg-prices {
  background-color: rgba(104,165,50, 0.2);
}

.bg-documents {
  background-color: rgba(104,165,50, 0.2);
}

.bg-terms {
  background-color: rgba(165,88,160, 0.2);
}

.bg-textes-officiels {
  background-color: rgba(0,159,95, 0.2);
}




.bt-delete {
  background-color: #ff5655;
  &:hover {
    background-color: #ffa6a6;
  }
}

#page-border {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  background-color: var(--page-border);
  z-index: 1000;
}


