.print {
  font-size: 1rem;
}
.print .leaflet-container {
  max-width: 17cm;
}

.no-print {
  @media print {
    display: none;
  }
}

@media print {
  HTML {
    font-size: 70% !important;
  }

  SECTION {
    page-break-inside: avoid !important;
  }
  
  .fr-col-md-6 .print-12{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
  .fr-col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important;
  }
  .fr-col-md-4 {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
    width: 33.33333% !important;
  }
  
  .pagebreak {
    page-break-before: always;
  }
  // .fr-card--shadow {
  //   --idle: #0000;
  //   --hover: var(--background-raised-grey-hover);
  //   --active: var(--background-raised-grey-active);
  //   background-color: var(--background-raised-grey);
  //   filter: none;
  //   z-index: inherit;
  // }
}

@page {
  margin: 1.5cm;
}