.print {
  //margin: 4rem;
  font-size: 1rem;
}
.print .leaflet-container {
  max-width: 17cm;
}

.no-print {
  @media print {
    display: none;
  }
}

@media print {
  HTML {
    font-size: 70% !important;
  }

  SECTION {
    page-break-inside: avoid !important;
  }
  
  .fr-col-md-6 .print-12{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }
  .fr-col-md-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important;
  }
  .fr-col-md-4 {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
    width: 33.33333% !important;
  }
  
  .pagebreak {
    page-break-before: always;
  }
}

@page {
  margin: 1.5cm;
}