.fr-card__body {
  background-color: var(--background-default-grey-hover) !important;

  .card-button{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

    .card-button{
      position: absolute;
      top: 8px;
      right: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}