.fr-password-info {
  color: var(--info-main-525);
  margin: 0;
}

.fr-password-success {
  color: var(--success-main-525);
  margin: 0;
}

.fr-password-error {
  color: var(--error-main-525);
  margin: 0;
}