.avatar-img {
  width: 100%;
  border-radius: 99999px;
}
.avatar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-contrast-green-emeraude);
  border-radius: 99999px;
}